{%extends "admin/layout.html"%}
{%block title%}Add Subject{%endblock%}
{%block crud%}
<h2>Add Subject</h2>
<form method="post">
    {{ form.hidden_tag() }} <!--hidden tag for CSRF protection-->
    <!--display form fields-->
    <div>
        {{ form.name.label }}<br> <!--display label , Email-->
        {{ form.name }} <!--display input field, Email-->
        {% if form.name.errors %} <!--display error message-->
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.description.label }}<br> <!--display label , Password-->
        {{ form.description }} <!--display input field, Password-->
        {% if form.description.errors %} <!--display error message-->
            <ul class="errors">
                {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{%endblock%}