{% extends 'layout.html' %}
{%block title%}Admin Dashboard{%endblock%}
{%block head%}
<style>
    .container {
        display: flex;
        justify-content: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        padding: 10px;
        border: 1px solid #ccc;
        margin: 5px;
        width: 200px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <p>Welcome to the admin dashboard.</p>
    <div class ="container">
        <ul>
            <li><a href ="{{ url_for('manage_subjects')}}" >Manage Subjects</a></li>
            <li><a href ="{{ url_for('manage_chapters')}}">Manage Chapters</a></li>
            <li><a href ="{{ url_for('manage_questions')}}">Manage Questions</a></li>
            <li><a href ="{{ url_for('manage_users')}}">Manage Users</a></li>
            <li><a href ="{{ url_for('manage_quizzes')}}">Manage Quizzes</a></li>
            <li><a href="{{url_for('manage_scores')}}">Manage Scores</a></li>
        </ul>
        <div>
            <p>Use the management options from sidebar</p>
        </div>
    </div>
{% endblock %}