{%extends "admin/dashboard.html"%}
{%block title%}Manage Users{%endblock%}
{%block crud%}
<h2>Manage Users</h2>   
<p>Here you can manage users.</p>
<a href = #>Add User</a> 
<table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Qualification</th>
        <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.Username}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.qualification}}</td>
            <td>{{user.dob}}</td>
            <td>
                <a href="#">Edit</a>
            </td>
            <td>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}